.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 3px solid #0f519c;
    border-radius: 6px;
    background-color: #ffffff;

}

body {
    background-image: url('https://img.freepik.com/free-vector/modern-blue-pattern-design_1035-8846.jpg?semt=ais_hybrid');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h6 {
    text-align: right;
    color: lightslategray;
    padding-right: 40px;
    font-style: oblique;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.616);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 0.5px solid #4944446e;
    border-radius: 5px;
    background-color: #1b1f1c18;
    box-sizing: border-box;
    font-size: 15px;
    
}

button {
    background-color: #047ea3;
    color: rgb(255, 255, 255);
    padding: 15px 40px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
}
